n8n/workflows/wf-a-importacao-csv-clint/workflow.fase1.json
{
  "name": "WF A - Importacao CSV Clint (Fase 1)",
  "nodes": [
    {
      "id": "webhook-import-csv",
      "name": "Webhook Import CSV",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "path": "clint-import-csv",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-init-request",
      "name": "Init Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        530,
        300
      ],
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\n\nfunction parseCsvLine(line, delimiter) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    if (char === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n      continue;\n    }\n\n    if (char === delimiter && !inQuotes) {\n      result.push(current);\n      current = '';\n      continue;\n    }\n\n    current += char;\n  }\n\n  result.push(current);\n  return result.map((cell) => String(cell || '').trim());\n}\n\nfunction parseCsvToRows(csvText) {\n  const text = String(csvText || '').replace(/\\r/g, '').trim();\n  if (!text) return [];\n\n  const lines = text.split('\\n').filter((line) => line.trim() !== '');\n  if (!lines.length) return [];\n\n  const delimiter = lines[0].includes(';') ? ';' : ',';\n  const headers = parseCsvLine(lines[0], delimiter);\n\n  const rows = [];\n  for (let i = 1; i < lines.length; i++) {\n    const values = parseCsvLine(lines[i], delimiter);\n    const row = {};\n    headers.forEach((header, idx) => {\n      row[header] = values[idx] ?? '';\n    });\n    rows.push(row);\n  }\n\n  return rows;\n}\n\nconst required = ['origin_name', 'product_name', 'product_value', 'list_tag_name'];\nconst missing = required.filter((key) => payload[key] === undefined || payload[key] === null || String(payload[key]).trim() === '');\nif (missing.length) {\n  throw new Error(`Campos obrigatorios ausentes: ${missing.join(', ')}`);\n}\n\nconst clintApiToken = payload.clint_api_token || payload.clintToken || process.env.CLINT_API_TOKEN || '';\nif (!clintApiToken) {\n  throw new Error('Token da Clint ausente. Envie clint_api_token no payload ou configure CLINT_API_TOKEN no ambiente do n8n.');\n}\n\nlet rows = [];\nif (Array.isArray(payload.rows)) {\n  rows = payload.rows;\n} else if (payload.csv_text) {\n  rows = parseCsvToRows(payload.csv_text);\n}\n\nif (!Array.isArray(rows) || rows.length === 0) {\n  throw new Error('Entrada invalida. Envie rows (array) ou csv_text (string CSV).');\n}\n\nreturn [{\n  json: {\n    execution_id: `${Date.now()}`,\n    origin_name: String(payload.origin_name).trim(),\n    product_name: String(payload.product_name).trim(),\n    product_value: Number(payload.product_value || 0),\n    list_tag_name: String(payload.list_tag_name).trim(),\n    imported_at: new Date().toISOString(),\n    clint_api_token: clintApiToken,\n    clint_base_url: payload.clint_base_url || process.env.CLINT_BASE_URL || 'https://api.clint.digital/v1',\n    rows\n  }\n}];"
      }
    },
    {
      "id": "code-process-import",
      "name": "Process Import Clint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const input = $json;\n\nconst CONTACT_FIELDS_MAP = {\n  'idade': 'idade',\n  'profissao': 'profissao',\n  'profissão': 'profissao',\n  'qual sua profissão': 'profissao',\n  'você é bacharel estudante ou advogado': 'profissao',\n  'historico': 'historico',\n  'histórico': 'historico',\n  'foi aluno oab': 'foi_aluno_oab',\n  'é ou já foi aluno vde oab': 'foi_aluno_oab',\n  'e aluno concursos': 'e_aluno_concursos',\n  'é aluno vde concursos carreiras jurídicas': 'e_aluno_concursos',\n  'carreira pretendida': 'carreira_pretendida',\n  'qual carreira jurídica pretende seguir': 'carreira_pretendida',\n  'horas por dia': 'horas_por_dia',\n  'quantas horas livres por dia você tem em média para estudar': 'horas_por_dia',\n  'renda familiar': 'renda_familiar',\n  'qual a sua renda familiar': 'renda_familiar',\n  'features desejadas': 'features_desejadas',\n  'o que você mais preza em um curso preparatório para o enam': 'features_desejadas',\n  'maior dificuldade': 'maior_dificuldade',\n  'qual a sua maior dificuldade na sua preparação para o enam': 'maior_dificuldade',\n  'tempo de estudo': 'tempo_de_estudo',\n  'há quanto tempo estuda pra concursos': 'tempo_de_estudo',\n  'turma da oab': 'turma_da_oab',\n  'turma da oab de interesse': 'turma_da_oab',\n  'estuda para oab': 'estuda_para_oab',\n  'disciplina segunda fase': 'disciplina_segunda_f',\n  'produto de interesse': 'produto_de_interesse',\n  'quantas horas por dia você estuda em média': 'quantas_horas_por_di',\n  'quantas vezes você já fez a prova da oab': 'quantas_vezes_voce_j',\n  'sentimento de aprovação atual': 'sentimento_de_aprova',\n  'notas': 'notes',\n  'notas do contato': 'notes'\n};\n\nconst DEAL_FIELDS_MAP = {\n  'utm source': 'utm_source',\n  'utm medium': 'utm_medium',\n  'utm campaign': 'utm_campaign',\n  'utm term': 'utm_term',\n  'utm content': 'utm_content',\n  'produto': 'produto',\n  'item combo': 'produto',\n  'item': 'produto',\n  'lista origem': 'lista_origem',\n  'data importação': 'data_importacao',\n  'data de importação': 'data_importacao'\n};\n\nfunction normalizeKey(key) {\n  return String(key || '')\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[?!:;,.()\\[\\]'\\\"]/g, '')\n    .replace(/[-_/]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeValue(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\n\nfunction rowValueByAliases(row, aliases) {\n  for (const [k, v] of Object.entries(row || {})) {\n    const nk = normalizeKey(k);\n    if (aliases.includes(nk)) {\n      const nv = normalizeValue(v);\n      if (nv) return nv;\n    }\n  }\n  return '';\n}\n\nfunction digitsOnly(value) {\n  return String(value || '').replace(/\\D/g, '');\n}\n\nfunction buildPhonePayload(rawPhone) {\n  const phoneClean = digitsOnly(rawPhone);\n  if (!phoneClean) return { ddi: '', phone: '' };\n\n  if (phoneClean.startsWith('55') && phoneClean.length > 11) {\n    return { ddi: '+55', phone: phoneClean.slice(2) };\n  }\n\n  if (phoneClean.length >= 10) {\n    return { ddi: '+55', phone: phoneClean };\n  }\n\n  return { ddi: '', phone: '' };\n}\n\nasync function apiRequest(method, path, token, baseUrl, body = undefined) {\n  const url = `${baseUrl.replace(/\\/$/, '')}${path}`;\n  const options = {\n    method,\n    headers: {\n      'api-token': token,\n      'Content-Type': 'application/json'\n    }\n  };\n\n  if (body !== undefined) {\n    options.body = JSON.stringify(body);\n  }\n\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let data = {};\n  try {\n    data = text ? JSON.parse(text) : {};\n  } catch (error) {\n    data = { raw: text };\n  }\n\n  if (!response.ok) {\n    throw new Error(`${method} ${path} -> ${response.status}: ${JSON.stringify(data).slice(0, 400)}`);\n  }\n\n  return data;\n}\n\nfunction extractId(payload) {\n  return payload?.data?.id || payload?.id || null;\n}\n\nconst rows = Array.isArray(input.rows) ? input.rows : [];\nconst token = input.clint_api_token;\nconst baseUrl = input.clint_base_url;\n\nconst originsResponse = await apiRequest('GET', '/origins?limit=250', token, baseUrl);\nconst origins = originsResponse?.data || [];\n\nconst wantedOrigin = String(input.origin_name || '').trim().toUpperCase();\nconst origin = origins.find((item) => String(item?.name || '').trim().toUpperCase() === wantedOrigin);\nif (!origin) {\n  throw new Error(`Origin '${input.origin_name}' nao encontrada.`);\n}\n\nconst stages = Array.isArray(origin.stages) ? origin.stages : [];\nconst baseStage = stages.find((stage) => stage?.type === 'BASE') || stages[0];\nif (!baseStage?.id) {\n  throw new Error(`Origin '${input.origin_name}' sem stage valido.`);\n}\n\nlet success = 0;\nconst failures = [];\n\nfor (let index = 0; index < rows.length; index++) {\n  const row = rows[index] || {};\n  const lineNumber = index + 2;\n\n  try {\n    const contactFields = {};\n    const dealFields = {};\n\n    const nameValue = rowValueByAliases(row, ['nome', 'name']);\n    const emailValue = rowValueByAliases(row, ['email']);\n    const phoneRaw = rowValueByAliases(row, ['telefone', 'phone', 'celular']);\n\n    for (const [rawKey, rawValue] of Object.entries(row || {})) {\n      const value = normalizeValue(rawValue);\n      if (!value) continue;\n\n      const rawNorm = String(rawKey || '').trim().toLowerCase();\n      const key = normalizeKey(rawKey);\n\n      if (['nome', 'name', 'email', 'telefone', 'phone', 'celular'].includes(key)) {\n        continue;\n      }\n\n      if (CONTACT_FIELDS_MAP[key]) {\n        contactFields[CONTACT_FIELDS_MAP[key]] = value;\n        continue;\n      }\n      if (CONTACT_FIELDS_MAP[rawNorm]) {\n        contactFields[CONTACT_FIELDS_MAP[rawNorm]] = value;\n        continue;\n      }\n      if (DEAL_FIELDS_MAP[key]) {\n        dealFields[DEAL_FIELDS_MAP[key]] = value;\n        continue;\n      }\n      if (DEAL_FIELDS_MAP[rawNorm]) {\n        dealFields[DEAL_FIELDS_MAP[rawNorm]] = value;\n        continue;\n      }\n      if (Object.values(CONTACT_FIELDS_MAP).includes(rawNorm)) {\n        contactFields[rawNorm] = value;\n        continue;\n      }\n      if (Object.values(DEAL_FIELDS_MAP).includes(rawNorm)) {\n        dealFields[rawNorm] = value;\n      }\n    }\n\n    dealFields.lista_origem = input.origin_name;\n    dealFields.data_importacao = input.imported_at;\n    if (!dealFields.produto && input.product_name) {\n      dealFields.produto = input.product_name;\n    }\n\n    if (!emailValue && !phoneRaw) {\n      throw new Error('Linha sem e-mail ou telefone.');\n    }\n\n    const personName = nameValue || (emailValue ? emailValue.split('@')[0] : `lead-${lineNumber}`);\n    const phoneParts = buildPhonePayload(phoneRaw);\n\n    const contactPayload = {\n      name: personName,\n      email: emailValue,\n      fields: contactFields\n    };\n\n    if (phoneParts.phone) {\n      contactPayload.phone = phoneParts.phone;\n      if (phoneParts.ddi) {\n        contactPayload.ddi = phoneParts.ddi;\n      }\n    }\n\n    let contactId = null;\n\n    if (emailValue) {\n      const emailSearch = await apiRequest(\n        'GET',\n        `/contacts?email=${encodeURIComponent(emailValue)}`,\n        token,\n        baseUrl\n      );\n      if ((emailSearch?.totalCount || 0) > 0 && Array.isArray(emailSearch?.data) && emailSearch.data[0]?.id) {\n        contactId = emailSearch.data[0].id;\n      }\n    }\n\n    if (!contactId && phoneParts.phone) {\n      const phoneSearch = await apiRequest(\n        'GET',\n        `/contacts?phone=${encodeURIComponent(phoneParts.phone)}`,\n        token,\n        baseUrl\n      );\n      if ((phoneSearch?.totalCount || 0) > 0 && Array.isArray(phoneSearch?.data) && phoneSearch.data[0]?.id) {\n        contactId = phoneSearch.data[0].id;\n      }\n    }\n\n    if (contactId) {\n      await apiRequest('POST', `/contacts/${contactId}`, token, baseUrl, contactPayload);\n    } else {\n      const createdContact = await apiRequest('POST', '/contacts', token, baseUrl, contactPayload);\n      contactId = extractId(createdContact);\n      if (!contactId) {\n        throw new Error('Falha ao obter contact_id apos criacao.');\n      }\n    }\n\n    if (input.list_tag_name) {\n      await apiRequest('POST', `/contacts/${contactId}/tags`, token, baseUrl, [input.list_tag_name]);\n    }\n\n    const dealPayload = {\n      contact_id: contactId,\n      stage_id: baseStage.id,\n      origin_id: origin.id,\n      title: `${personName} - ${input.product_name}`,\n      value: Number(input.product_value || 0),\n      fields: Object.fromEntries(Object.entries(dealFields).filter(([, value]) => value !== null && value !== undefined && String(value).trim() !== ''))\n    };\n\n    await apiRequest('POST', '/deals', token, baseUrl, dealPayload);\n    success += 1;\n  } catch (error) {\n    failures.push({\n      linha: lineNumber,\n      erro: error.message,\n      email: rowValueByAliases(row, ['email']) || ''\n    });\n  }\n}\n\nreturn [{\n  json: {\n    status: failures.length ? 'partial_success' : 'success',\n    message: 'Importacao executada no workflow Fase 1.',\n    execution_id: input.execution_id,\n    origin_name: input.origin_name,\n    origin_id: origin.id,\n    stage_id: baseStage.id,\n    total_linhas: rows.length,\n    sucessos: success,\n    erros: failures.length,\n    detalhes_falhas: failures\n  }\n}];"
      }
    },
    {
      "id": "respond-report",
      "name": "Respond Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1170,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Import CSV": {
      "main": [
        [
          {
            "node": "Init Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Request": {
      "main": [
        [
          {
            "node": "Process Import Clint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Import Clint": {
      "main": [
        [
          {
            "node": "Respond Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}
