n8n/workflows/wf-c-manychat-intake-clint/workflow.fase1.json
{
  "name": "WF C - Manychat Intake Clint (Fase 1)",
  "nodes": [
    {
      "id": "webhook-manychat-intake-test",
      "name": "Webhook Manychat Intake Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "fb2bbfb4-0ca3-4937-a99b-74b6633e416c",
      "position": [
        260,
        200
      ],
      "parameters": {
        "path": "manychat-intake-test",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "webhook-manychat-intake-prod",
      "name": "Webhook Manychat Intake Prod",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "2672b960-233d-4eb6-b21e-d9fb953c9295",
      "position": [
        260,
        420
      ],
      "parameters": {
        "path": "manychat-intake",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-normalize-validate",
      "name": "Normalize + Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        310
      ],
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json;\nconst payload = (raw && typeof raw === 'object') ? (raw.data ?? raw) : {};\nconst headers = $json.headers || {};\nconst executionId = (typeof $execution !== 'undefined' && $execution?.id) ? String($execution.id) : String(Date.now());\nconst CONFIG_VERSION = 'wf-c-manychat-intake-clint@fase2-etapa6-2026-03-06';\nconst receivedAt = new Date().toISOString();\n\nconst DEFAULT_LIST_KEY = 'cj_ppt_webinar';\n\nconst LIST_CONFIGS = Object.freeze({\n  cj_ppt_webinar: Object.freeze({\n    origin_name: 'Perpétuo Webinário',\n    origin_id: 'bd1bd846-0c87-4acb-b221-d7f8d2089e68',\n    tag_name: 'cj-ppt-webinar',\n    lista_origem: 'cj-ppt-webinar',\n    produto: 'VDE Carreiras Jurídicas Ciclo Prioritário',\n    value: 2557,\n    clint_base_url: 'https://api.clint.digital/v1'\n  })\n});\n\nconst GLOBAL_INPUT_ALIASES = Object.freeze({\n  first_name: ['first_name', 'first name'],\n  last_name: ['last_name', 'last name'],\n  list_key: [\n    'list_key',\n    'lista_key',\n    'lista_origem',\n    'lista origem',\n    'origem_lista',\n    'origem lista',\n    'campaign_key',\n    'campaign key'\n  ],\n  nome: ['nome', 'name', 'full_name', 'full name', 'first_name'],\n  email: ['email', 'e-mail', 'mail', 'email_address', 'email address'],\n  whatsapp: [\n    'whatsapp',\n    'whatsapp_phone',\n    'whatsapp phone',\n    'phone',\n    'telefone',\n    'celular',\n    'auth_phone',\n    'auth phone'\n  ],\n  carreira_pretendida: [\n    'carreira_pretendida',\n    'carreira pretendida'\n  ],\n  utm_source: ['utm_source', 'utm source', 'utmsource'],\n  utm_medium: ['utm_medium', 'utm medium', 'utmmedium'],\n  utm_campaign: ['utm_campaign', 'utm campaign', 'utmcampaign'],\n  utm_term: ['utm_term', 'utm term', 'utmterm'],\n  utm_content: ['utm_content', 'utm content', 'utmcontent']\n});\n\nconst LIST_INPUT_ALIASES = Object.freeze({\n  cj_ppt_webinar: Object.freeze({\n    carreira_pretendida: [\n      'carreira_concursos',\n      'carreira concursos'\n    ]\n  })\n});\n\nfunction normalizeKey(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[?!:;,.()\\[\\]'\"%]/g, '')\n    .replace(/[-_/]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeValue(value) {\n  if (value === undefined || value === null) return '';\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    return String(value).trim();\n  }\n\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      const extracted = normalizeValue(item);\n      if (extracted) return extracted;\n    }\n    return '';\n  }\n\n  if (typeof value === 'object') {\n    const priorityKeys = ['value', 'text', 'label', 'name', 'phone', 'email'];\n    for (const key of priorityKeys) {\n      if (Object.prototype.hasOwnProperty.call(value, key)) {\n        const extracted = normalizeValue(value[key]);\n        if (extracted) return extracted;\n      }\n    }\n  }\n\n  return '';\n}\n\nfunction normalizeListKey(value) {\n  const base = normalizeKey(value);\n  return base ? base.replace(/\\s+/g, '_') : '';\n}\n\nfunction digitsOnly(value) {\n  return String(value || '').replace(/\\D/g, '');\n}\n\nfunction cleanObject(obj) {\n  return Object.fromEntries(\n    Object.entries(obj || {}).filter(([, value]) => value !== undefined && value !== null && String(value).trim() !== '')\n  );\n}\n\nfunction maskEmail(value) {\n  const email = normalizeValue(value).toLowerCase();\n  const [localPart, domainPart] = email.split('@');\n\n  if (!localPart || !domainPart) {\n    return email ? '[REDACTED_EMAIL]' : '';\n  }\n\n  const localMasked = `${localPart[0] || '*'}${'*'.repeat(Math.max(localPart.length - 1, 1))}`;\n  const [domainRoot, ...domainSuffix] = domainPart.split('.');\n  const domainMasked = domainRoot ? `${domainRoot[0]}***` : '***';\n  const suffix = domainSuffix.length ? `.${domainSuffix.join('.')}` : '';\n\n  return `${localMasked}@${domainMasked}${suffix}`;\n}\n\nfunction maskPhone(value) {\n  const digits = digitsOnly(value);\n  if (!digits) {\n    return '';\n  }\n\n  if (digits.length <= 4) {\n    return '*'.repeat(digits.length);\n  }\n\n  return `${'*'.repeat(digits.length - 4)}${digits.slice(-4)}`;\n}\n\nfunction sanitizePrimitiveByKey(key, value) {\n  const keyNorm = normalizeKey(key);\n  const asString = normalizeValue(value);\n\n  if (!asString) {\n    return asString;\n  }\n\n  if (/(token|authorization|password|secret|api key|api token)/.test(keyNorm)) {\n    return '[REDACTED]';\n  }\n\n  if (/(email|mail)/.test(keyNorm)) {\n    return maskEmail(asString);\n  }\n\n  if (/(phone|whatsapp|telefone|celular|ddi)/.test(keyNorm)) {\n    return maskPhone(asString);\n  }\n\n  return asString;\n}\n\nfunction sanitizeForLogs(value, key = '', depth = 0) {\n  if (depth > 6) {\n    return '[TRUNCATED]';\n  }\n\n  if (value === undefined || value === null) {\n    return value;\n  }\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    return sanitizePrimitiveByKey(key, value);\n  }\n\n  if (Array.isArray(value)) {\n    return value.slice(0, 50).map((item) => sanitizeForLogs(item, key, depth + 1));\n  }\n\n  if (typeof value === 'object') {\n    return Object.fromEntries(\n      Object.entries(value).slice(0, 100).map(([entryKey, entryValue]) => [\n        entryKey,\n        sanitizeForLogs(entryValue, entryKey, depth + 1)\n      ])\n    );\n  }\n\n  return '[UNSUPPORTED_VALUE]';\n}\n\nfunction sanitizePayloadForLogs(payloadObject) {\n  return sanitizeForLogs(payloadObject, 'payload');\n}\n\nfunction buildAuditMetadata({ status, step, httpStatus, listKey, extra = {} }) {\n  return cleanObject({\n    source: 'manychat_webhook',\n    status,\n    step,\n    http_status: httpStatus,\n    execution_id: executionId,\n    list_key: listKey,\n    config_version: CONFIG_VERSION,\n    received_at: receivedAt,\n    recorded_at: new Date().toISOString(),\n    ...extra\n  });\n}\n\nfunction normalizePhone(rawPhone) {\n  const phoneClean = digitsOnly(rawPhone);\n  if (!phoneClean) return { ddi: '', phone: '', whatsapp_digits: '' };\n\n  if (phoneClean.startsWith('55') && phoneClean.length > 11) {\n    return {\n      ddi: '+55',\n      phone: phoneClean.slice(2),\n      whatsapp_digits: phoneClean\n    };\n  }\n\n  if (phoneClean.length === 10 || phoneClean.length === 11) {\n    return {\n      ddi: '+55',\n      phone: phoneClean,\n      whatsapp_digits: phoneClean\n    };\n  }\n\n  return { ddi: '', phone: '', whatsapp_digits: phoneClean };\n}\n\nfunction collectPayloadContainers(payloadObject) {\n  return [\n    payloadObject,\n    payloadObject.fields || {},\n    payloadObject.custom_fields || {},\n    payloadObject.customFields || {},\n    payloadObject.contact || {},\n    payloadObject.subscriber || {},\n    payloadObject.variables || {}\n  ].filter((item) => item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction createAliasPicker(containers) {\n  return function pickValue(aliases) {\n    const normalizedAliases = new Set((aliases || []).map((alias) => normalizeKey(alias)).filter(Boolean));\n\n    if (!normalizedAliases.size) {\n      return '';\n    }\n\n    for (const container of containers) {\n      for (const [rawKey, rawValue] of Object.entries(container || {})) {\n        if (!normalizedAliases.has(normalizeKey(rawKey))) {\n          continue;\n        }\n\n        const cleaned = normalizeValue(rawValue);\n        if (cleaned) {\n          return cleaned;\n        }\n      }\n    }\n\n    return '';\n  };\n}\n\nfunction dedupeAliases(aliases) {\n  const seen = new Set();\n  const result = [];\n\n  for (const alias of aliases || []) {\n    const aliasText = String(alias || '').trim();\n    if (!aliasText) {\n      continue;\n    }\n\n    const normalizedAlias = normalizeKey(aliasText);\n    if (!normalizedAlias || seen.has(normalizedAlias)) {\n      continue;\n    }\n\n    seen.add(normalizedAlias);\n    result.push(aliasText);\n  }\n\n  return result;\n}\n\nfunction mergeInputAliases(globalAliases, listAliases) {\n  const merged = {};\n  const keySet = new Set([\n    ...Object.keys(globalAliases || {}),\n    ...Object.keys(listAliases || {})\n  ]);\n\n  for (const key of keySet) {\n    const listEntries = Array.isArray(listAliases?.[key]) ? listAliases[key] : [];\n    const globalEntries = Array.isArray(globalAliases?.[key]) ? globalAliases[key] : [];\n    merged[key] = dedupeAliases([...listEntries, ...globalEntries]);\n  }\n\n  return merged;\n}\n\nfunction resolveListConfig(pickValue) {\n  const requestedListKeyRaw = pickValue(GLOBAL_INPUT_ALIASES.list_key);\n  const requestedListKey = normalizeListKey(requestedListKeyRaw || DEFAULT_LIST_KEY);\n  const hasListConfig = Boolean(LIST_CONFIGS[requestedListKey]);\n  const resolvedListKey = hasListConfig ? requestedListKey : DEFAULT_LIST_KEY;\n  const inputAliases = mergeInputAliases(\n    GLOBAL_INPUT_ALIASES,\n    LIST_INPUT_ALIASES[resolvedListKey] || {}\n  );\n\n  return {\n    requested_list_key: requestedListKeyRaw || '',\n    list_key: resolvedListKey,\n    list_key_fallback_applied: !hasListConfig,\n    input_aliases: inputAliases,\n    workflow_config: {\n      ...LIST_CONFIGS[resolvedListKey],\n      list_key: resolvedListKey,\n      config_version: CONFIG_VERSION\n    }\n  };\n}\n\nfunction buildNormalizedPayload(pickValue, inputAliases) {\n  const firstName = pickValue(inputAliases.first_name || []);\n  const lastName = pickValue(inputAliases.last_name || []);\n  const fullNameFallback = [firstName, lastName].filter(Boolean).join(' ').trim();\n\n  const nome = pickValue(inputAliases.nome || []) || fullNameFallback;\n  const email = pickValue(inputAliases.email || []).toLowerCase();\n  const whatsappRaw = pickValue(inputAliases.whatsapp || []);\n  const carreiraPretendida = pickValue(inputAliases.carreira_pretendida || []);\n  const phonePayload = normalizePhone(whatsappRaw);\n\n  return {\n    nome,\n    email,\n    whatsapp: whatsappRaw,\n    whatsapp_digits: phonePayload.whatsapp_digits,\n    ddi: phonePayload.ddi,\n    phone: phonePayload.phone,\n    carreira_pretendida: carreiraPretendida,\n    utm_source: pickValue(inputAliases.utm_source || []),\n    utm_medium: pickValue(inputAliases.utm_medium || []),\n    utm_campaign: pickValue(inputAliases.utm_campaign || []),\n    utm_term: pickValue(inputAliases.utm_term || []),\n    utm_content: pickValue(inputAliases.utm_content || [])\n  };\n}\n\nfunction buildClintPayloads(normalizedPayload, workflowConfig, runExecutionId) {\n  const contactFields = cleanObject({\n    carreira_pretendida: normalizedPayload.carreira_pretendida\n  });\n\n  const contactPayload = cleanObject({\n    name: normalizedPayload.nome || (normalizedPayload.email ? normalizedPayload.email.split('@')[0] : `lead-${runExecutionId}`),\n    email: normalizedPayload.email,\n    ddi: normalizedPayload.ddi,\n    phone: normalizedPayload.phone\n  });\n\n  if (Object.keys(contactFields).length > 0) {\n    contactPayload.fields = contactFields;\n  }\n\n  const dealFields = cleanObject({\n    utm_source: normalizedPayload.utm_source,\n    utm_medium: normalizedPayload.utm_medium,\n    utm_campaign: normalizedPayload.utm_campaign,\n    utm_term: normalizedPayload.utm_term,\n    utm_content: normalizedPayload.utm_content,\n    lista_origem: workflowConfig.lista_origem,\n    data_importacao: new Date().toISOString(),\n    produto: workflowConfig.produto\n  });\n\n  const dealPayloadBase = {\n    value: workflowConfig.value\n  };\n\n  if (Object.keys(dealFields).length > 0) {\n    dealPayloadBase.fields = dealFields;\n  }\n\n  return {\n    contactPayload,\n    dealPayloadBase\n  };\n}\n\nfunction resolveClintApiToken(headersObject, payloadObject) {\n  const tokenHeader = headersObject['x-clint-api-token'] || headersObject['X-CLINT-API-TOKEN'] || headersObject['api-token'] || headersObject['API-TOKEN'] || '';\n  const tokenPayload = normalizeValue(payloadObject.clint_api_token || payloadObject.clintToken || '');\n  const tokenEnv = (typeof process !== 'undefined' && process?.env)\n    ? (process.env.CLINT_API_TOKEN || process.env.CLINT_TOKEN || process.env.API_TOKEN || '')\n    : '';\n\n  return normalizeValue(tokenHeader || tokenPayload || tokenEnv);\n}\n\nconst containers = collectPayloadContainers(payload);\nconst pickValue = createAliasPicker(containers);\nconst listResolution = resolveListConfig(pickValue);\nconst normalizedPayload = buildNormalizedPayload(pickValue, listResolution.input_aliases);\nconst clintPayloads = buildClintPayloads(normalizedPayload, listResolution.workflow_config, executionId);\nconst clintApiToken = resolveClintApiToken(headers, payload);\nconst sanitizedRawPayload = sanitizePayloadForLogs(payload);\n\nconst hasContactIdentity = Boolean(normalizedPayload.email || normalizedPayload.phone);\n\nif (!hasContactIdentity) {\n  return [\n    {\n      json: {\n        status: 'validation_error',\n        code: 'VALIDATION_ERROR',\n        message: 'Payload invalido: informe ao menos email ou whatsapp.',\n        step: 'validate_payload',\n        http_status: 400,\n        execution_id: executionId,\n        config_version: CONFIG_VERSION,\n        should_continue: false,\n        list_key: listResolution.list_key,\n        requested_list_key: listResolution.requested_list_key,\n        list_key_fallback_applied: listResolution.list_key_fallback_applied,\n        audit: buildAuditMetadata({\n          status: 'validation_error',\n          step: 'validate_payload',\n          httpStatus: 400,\n          listKey: listResolution.list_key,\n          extra: {\n            sensitive_fields_redacted: true\n          }\n        }),\n        workflow_config: listResolution.workflow_config,\n        normalized_payload: sanitizePayloadForLogs(normalizedPayload),\n        raw_payload: sanitizedRawPayload\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      status: 'validated',\n      code: 'OK',\n      message: 'Payload normalizado e validado.',\n      step: 'normalize_input',\n      http_status: 200,\n      should_continue: true,\n      execution_id: executionId,\n      config_version: CONFIG_VERSION,\n      list_key: listResolution.list_key,\n      requested_list_key: listResolution.requested_list_key,\n      list_key_fallback_applied: listResolution.list_key_fallback_applied,\n      audit: buildAuditMetadata({\n        status: 'validated',\n        step: 'normalize_input',\n        httpStatus: 200,\n        listKey: listResolution.list_key\n      }),\n      workflow_config: listResolution.workflow_config,\n      integration_context: {\n        clint_api_token: clintApiToken\n      },\n      normalized_payload: normalizedPayload,\n      clint_payloads: clintPayloads,\n      raw_payload: sanitizedRawPayload\n    }\n  }\n];\n"
      }
    },
    {
      "id": "code-integrate-clint",
      "name": "Integrate Clint (Upsert + Tag + Deal)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        310
      ],
      "parameters": {
        "jsCode": "const input = $json;\n\nif (!input.should_continue) {\n  return [{ json: input }];\n}\n\nfunction cleanObject(obj) {\n  return Object.fromEntries(\n    Object.entries(obj || {}).filter(([, value]) => value !== undefined && value !== null && String(value).trim() !== '')\n  );\n}\n\nfunction extractId(payload) {\n  return payload?.data?.id || payload?.id || null;\n}\n\nfunction ensureFieldsObject(payload) {\n  const fields = cleanObject(payload.fields || {});\n  if (Object.keys(fields).length > 0) {\n    payload.fields = fields;\n  } else {\n    delete payload.fields;\n  }\n  return payload;\n}\n\nfunction normalizeKey(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[?!:;,.()\\[\\]'\"%]/g, '')\n    .replace(/[-_/]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction digitsOnly(value) {\n  return String(value || '').replace(/\\D/g, '');\n}\n\nfunction maskEmail(value) {\n  const email = String(value || '').trim().toLowerCase();\n  const [localPart, domainPart] = email.split('@');\n\n  if (!localPart || !domainPart) {\n    return email ? '[REDACTED_EMAIL]' : '';\n  }\n\n  const localMasked = `${localPart[0] || '*'}${'*'.repeat(Math.max(localPart.length - 1, 1))}`;\n  const [domainRoot, ...domainSuffix] = domainPart.split('.');\n  const domainMasked = domainRoot ? `${domainRoot[0]}***` : '***';\n  const suffix = domainSuffix.length ? `.${domainSuffix.join('.')}` : '';\n\n  return `${localMasked}@${domainMasked}${suffix}`;\n}\n\nfunction maskPhone(value) {\n  const digits = digitsOnly(value);\n  if (!digits) {\n    return '';\n  }\n\n  if (digits.length <= 4) {\n    return '*'.repeat(digits.length);\n  }\n\n  return `${'*'.repeat(digits.length - 4)}${digits.slice(-4)}`;\n}\n\nfunction sanitizePrimitiveByKey(key, value) {\n  const keyNorm = normalizeKey(key);\n  const asString = String(value || '').trim();\n\n  if (!asString) {\n    return asString;\n  }\n\n  if (/(token|authorization|password|secret|api key|api token)/.test(keyNorm)) {\n    return '[REDACTED]';\n  }\n\n  if (/(email|mail)/.test(keyNorm)) {\n    return maskEmail(asString);\n  }\n\n  if (/(phone|whatsapp|telefone|celular|ddi)/.test(keyNorm)) {\n    return maskPhone(asString);\n  }\n\n  return asString;\n}\n\nfunction sanitizeForLogs(value, key = '', depth = 0) {\n  if (depth > 6) {\n    return '[TRUNCATED]';\n  }\n\n  if (value === undefined || value === null) {\n    return value;\n  }\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    return sanitizePrimitiveByKey(key, value);\n  }\n\n  if (Array.isArray(value)) {\n    return value.slice(0, 50).map((item) => sanitizeForLogs(item, key, depth + 1));\n  }\n\n  if (typeof value === 'object') {\n    return Object.fromEntries(\n      Object.entries(value).slice(0, 100).map(([entryKey, entryValue]) => [\n        entryKey,\n        sanitizeForLogs(entryValue, entryKey, depth + 1)\n      ])\n    );\n  }\n\n  return '[UNSUPPORTED_VALUE]';\n}\n\nfunction buildAuditMetadata({ status, step, httpStatus, extra = {} }) {\n  const processedAt = new Date().toISOString();\n  const durationMs = Number.isFinite(receivedAtMs)\n    ? Math.max(0, Date.parse(processedAt) - receivedAtMs)\n    : undefined;\n\n  return cleanObject({\n    source: 'manychat_webhook',\n    status,\n    step,\n    http_status: httpStatus,\n    execution_id: executionId,\n    list_key: listKey,\n    config_version: configVersion,\n    received_at: receivedAt || undefined,\n    processed_at: processedAt,\n    duration_ms: durationMs,\n    ...extra\n  });\n}\n\nfunction buildErrorPayload(code, message, step, httpStatus, details = null, auditExtra = {}) {\n  const payload = {\n    status: 'integration_error',\n    code,\n    message,\n    step,\n    http_status: httpStatus,\n    execution_id: executionId,\n    list_key: listKey,\n    config_version: configVersion,\n    requested_list_key: requestedListKey,\n    list_key_fallback_applied: listKeyFallbackApplied,\n    normalized_payload: sanitizeForLogs(normalizedPayload),\n    audit: buildAuditMetadata({\n      status: 'integration_error',\n      step,\n      httpStatus,\n      extra: {\n        sensitive_fields_redacted: true,\n        ...auditExtra\n      }\n    })\n  };\n\n  if (details !== null && details !== undefined) {\n    payload.details = sanitizeForLogs(details);\n  }\n\n  return [{ json: payload }];\n}\n\nfunction buildDealPayload({\n  contactId,\n  originId,\n  stageId,\n  normalizedPayload,\n  workflowConfig,\n  executionId,\n  dealPayloadBase\n}) {\n  const configuredValue = Number(workflowConfig.value);\n  if (!Number.isFinite(configuredValue)) {\n    throw Object.assign(new Error('Configuracao invalida: value deve ser numerico.'), {\n      step: 'build_deal_payload',\n      statusCode: 500,\n      details: { value: workflowConfig.value }\n    });\n  }\n\n  const dealFields = cleanObject(dealPayloadBase.fields || {});\n  const titleName = normalizedPayload.nome || normalizedPayload.email || normalizedPayload.phone || `lead-${executionId}`;\n  const produto = String(workflowConfig.produto || '').trim();\n\n  const dealPayload = {\n    contact_id: contactId,\n    origin_id: originId,\n    stage_id: stageId,\n    title: produto ? `${titleName} - ${produto}` : titleName,\n    value: configuredValue,\n    fields: dealFields\n  };\n\n  if (!Object.keys(dealFields).length) {\n    delete dealPayload.fields;\n  }\n\n  return dealPayload;\n}\n\nconst workflowConfig = input.workflow_config || input.fixed_config || {};\nconst listKey = String(input.list_key || workflowConfig.list_key || '').trim();\nconst requestedListKey = String(input.requested_list_key || '').trim();\nconst listKeyFallbackApplied = Boolean(input.list_key_fallback_applied);\nconst token = String(input.integration_context?.clint_api_token || '').trim();\nconst baseUrlRaw = String(workflowConfig.clint_base_url || '').trim();\nconst executionId = input.execution_id || `${Date.now()}`;\nconst normalizedPayload = input.normalized_payload || {};\nconst configVersion = String(input.config_version || workflowConfig.config_version || 'wf-c-manychat-intake-clint@fase2-etapa6-2026-03-06').trim();\nconst receivedAt = String(input.audit?.received_at || '').trim();\nconst receivedAtMs = receivedAt ? Date.parse(receivedAt) : NaN;\n\nif (!token) {\n  return buildErrorPayload(\n    'MISSING_CLINT_TOKEN',\n    'Token da Clint ausente. Envie x-clint-api-token no header (homologacao) ou configure credencial no n8n.',\n    'init_integration',\n    500\n  );\n}\n\nif (!baseUrlRaw) {\n  return buildErrorPayload(\n    'MISSING_CLINT_BASE_URL',\n    'Configuracao invalida: clint_base_url ausente no workflow_config.',\n    'init_integration',\n    500\n  );\n}\n\nconst baseUrl = baseUrlRaw.replace(/\\/$/, '');\nconst httpRequest = this.helpers.httpRequest.bind(this.helpers);\n\nasync function apiRequest(step, method, path, body = undefined) {\n  const url = `${baseUrl}${path}`;\n  const maxAttempts = 3;\n\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      const options = {\n        method,\n        url,\n        headers: {\n          'api-token': token,\n          'Content-Type': 'application/json'\n        },\n        json: true,\n        timeout: 20000\n      };\n\n      if (body !== undefined) {\n        options.body = body;\n      }\n\n      return await httpRequest(options);\n    } catch (error) {\n      const statusCode = error?.statusCode || error?.response?.statusCode || null;\n      const shouldRetry = attempt < maxAttempts && (statusCode === 429 || (statusCode >= 500 && statusCode < 600));\n\n      if (shouldRetry) {\n        await new Promise((resolve) => setTimeout(resolve, 300 * attempt));\n        continue;\n      }\n\n      const details = error?.response?.body || error?.message || 'unexpected_error';\n      const err = new Error(`Erro na Clint em ${step}: ${method} ${path}`);\n      err.step = step;\n      err.statusCode = statusCode || 500;\n      err.details = details;\n      throw err;\n    }\n  }\n}\n\nasync function findContactIdByEmail(email) {\n  if (!email) {\n    return null;\n  }\n\n  const emailSearch = await apiRequest('search_contact_email', 'GET', `/contacts?email=${encodeURIComponent(email)}`);\n  const contactsByEmail = Array.isArray(emailSearch?.data) ? emailSearch.data : [];\n  return contactsByEmail[0]?.id || null;\n}\n\nasync function findContactIdByPhone(phone) {\n  if (!phone) {\n    return null;\n  }\n\n  const phoneSearch = await apiRequest('search_contact_phone', 'GET', `/contacts?phone=${encodeURIComponent(phone)}`);\n  const contactsByPhone = Array.isArray(phoneSearch?.data) ? phoneSearch.data : [];\n  return contactsByPhone[0]?.id || null;\n}\n\ntry {\n  const originsResponse = await apiRequest('get_origins', 'GET', '/origins?limit=250');\n  const origins = Array.isArray(originsResponse?.data) ? originsResponse.data : [];\n\n  const wantedOriginId = workflowConfig.origin_id;\n  const wantedOriginName = String(workflowConfig.origin_name || '').trim().toUpperCase();\n\n  let originResolutionMethod = 'not_found';\n  let origin = origins.find((item) => item?.id === wantedOriginId);\n  if (origin?.id) {\n    originResolutionMethod = 'origin_id';\n  } else {\n    origin = origins.find((item) => String(item?.name || '').trim().toUpperCase() === wantedOriginName);\n    if (origin?.id) {\n      originResolutionMethod = 'origin_name';\n    }\n  }\n\n  if (!origin?.id) {\n    throw Object.assign(new Error('Origem alvo nao encontrada na Clint.'), {\n      step: 'resolve_origin',\n      statusCode: 502,\n      details: { wanted_origin_id: wantedOriginId, wanted_origin_name: workflowConfig.origin_name }\n    });\n  }\n\n  const stages = Array.isArray(origin?.stages) ? origin.stages : [];\n  const baseStage = stages.find((stage) => String(stage?.type || '').toUpperCase() === 'BASE') || stages[0];\n\n  if (!baseStage?.id) {\n    throw Object.assign(new Error('Stage BASE nao encontrado para a origem informada.'), {\n      step: 'resolve_stage',\n      statusCode: 502,\n      details: { origin_id: origin.id }\n    });\n  }\n\n  const contactPayloadRaw = Object.assign({}, input.clint_payloads?.contactPayload || {});\n  const contactPayload = ensureFieldsObject(cleanObject(contactPayloadRaw));\n\n  let contactId = await findContactIdByPhone(normalizedPayload.phone);\n  if (!contactId) {\n    contactId = await findContactIdByEmail(normalizedPayload.email);\n  }\n\n  let contactOperation = '';\n  if (contactId) {\n    await apiRequest('update_contact', 'POST', `/contacts/${contactId}`, contactPayload);\n    contactOperation = 'updated';\n  } else {\n    const createdContact = await apiRequest('create_contact', 'POST', '/contacts', contactPayload);\n    contactId = extractId(createdContact);\n\n    if (!contactId) {\n      throw Object.assign(new Error('Falha ao extrair contact_id apos criar contato.'), {\n        step: 'create_contact',\n        statusCode: 502,\n        details: createdContact\n      });\n    }\n\n    contactOperation = 'created';\n  }\n\n  const tagName = String(workflowConfig.tag_name || '').trim();\n  if (tagName) {\n    await apiRequest('add_tag', 'POST', `/contacts/${contactId}/tags`, [tagName]);\n  }\n\n  const dealPayloadBase = input.clint_payloads?.dealPayloadBase || {};\n  const dealPayload = buildDealPayload({\n    contactId,\n    originId: origin.id,\n    stageId: baseStage.id,\n    normalizedPayload,\n    workflowConfig,\n    executionId,\n    dealPayloadBase\n  });\n\n  const createdDeal = await apiRequest('create_deal', 'POST', '/deals', dealPayload);\n  const dealId = extractId(createdDeal);\n\n  return [{\n    json: {\n      status: 'success',\n      code: 'OK',\n      message: 'Lead processado com sucesso na Clint.',\n      step: 'done',\n      http_status: 200,\n      execution_id: executionId,\n      list_key: listKey,\n      config_version: configVersion,\n      requested_list_key: requestedListKey,\n      list_key_fallback_applied: listKeyFallbackApplied,\n      contact_id: contactId,\n      contact_operation: contactOperation,\n      deal_id: dealId,\n      origin_id: origin.id,\n      stage_id: baseStage.id,\n      tag_name: tagName,\n      normalized_payload: normalizedPayload,\n      audit: buildAuditMetadata({\n        status: 'success',\n        step: 'done',\n        httpStatus: 200,\n        extra: {\n          contact_operation: contactOperation,\n          origin_resolution: originResolutionMethod,\n          dedupe_strategy: 'phone_then_email',\n          retries_enabled: true\n        }\n      })\n    }\n  }];\n} catch (error) {\n  const httpStatus = Number(error?.statusCode || 502);\n  return buildErrorPayload(\n    'CLINT_INTEGRATION_ERROR',\n    error?.message || 'Falha de integracao com a Clint.',\n    error?.step || 'unknown_step',\n    httpStatus >= 400 && httpStatus < 600 ? httpStatus : 502,\n    error?.details || null,\n    {\n      retries_enabled: true\n    }\n  );\n}\n"
      }
    },
    {
      "id": "respond-manychat-fase1",
      "name": "Respond Manychat Fase 1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1230,
        310
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      }
    },
    {
      "id": "code-fail-execution-on-error-status",
      "name": "Fail Execution On Error Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        310
      ],
      "parameters": {
        "jsCode": "const status = String($json.status || '').trim().toLowerCase();\n\nif (status && status !== 'success') {\n  const code = String($json.code || 'WORKFLOW_ERROR');\n  const message = String($json.message || 'Falha no workflow');\n  throw new Error(`${code}: ${message}`);\n}\n\nreturn [{ json: $json }];\n"
      }
    }
  ],
  "connections": {
    "Webhook Manychat Intake Test": {
      "main": [
        [
          {
            "node": "Normalize + Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Manychat Intake Prod": {
      "main": [
        [
          {
            "node": "Normalize + Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Validate Input": {
      "main": [
        [
          {
            "node": "Integrate Clint (Upsert + Tag + Deal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Integrate Clint (Upsert + Tag + Deal)": {
      "main": [
        [
          {
            "node": "Respond Manychat Fase 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Manychat Fase 1": {
      "main": [
        [
          {
            "node": "Fail Execution On Error Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}
